<table class = "table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>name</th>
    <th>introduction</th>
    <th>people</th>
    <th colspan="2"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <% groups.each do |group| %>
    <td>
      <%= image_tag group.get_group_image(50,50) %>
     </td>
     <td>
      <%= link_to group_path(group) do %>
        <%= group.name %>
      <% end %>
    </td>
    <td><%= group.introduction %></td>
    <td><%= group.group_users.count%></td>
    <% end %>
  </tr>
  </tbody>
</table>