<table class = "table table-borderd">
  <tr>

  </tr>
    <%= image_tag user.get_profile_image(100,100) %>
  <tr>
    <th>name</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%= link_to user.followings.count, user_followings_path(user) %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to user.followers.count, user_followers_path(user) %></th>
  </tr>
</table>
  <% unless user.guest_user? %>
    <% if current_user != user %>
      <%= render "relationships/btn", user: user, options: {class:""} %>
      <%= render "chats/btn", user: user %>
    <% else %>
      <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
         <i class="fa-solid fa-user-gear"></i>
      <% end %>
    <% end %>
  <% end %>
