<table class = "table table-hover">
  <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
    <th colspan="5"></th>
  </tr>
  <tr>
    <% books.each do |book| %>
    <td>
      <%= link_to user_path(book.user) do %>
        <%= image_tag book.user.get_profile_image(80,80) %>
      <% end %>
    </td>
    <td>
      <%= link_to book_path(book) do %>
        <%= book.title %>
      <% end %>
    </td>
    <td><%= book.body %></td>
    <td id="favorite_btn_<%= book.id %>">
      <%= render "favorites/btn", book: book %>
    </td>
    <td><%= render "book_comments/counter", book: book %></td>
    <td><%= render "books/static_rate", book: book %></td>
    <td>View:<%= book.impressionist_count %></td>
  </tr>
  <% end %>
</table>